@import url('https://use.typekit.net/vyi0eqv.css');
@import './theme/all';
@import '~bootstrap/scss/bootstrap';

body {
	margin: 0;
}

a {
	font-family: jaf-domus, sans-serif !important;
	font-weight: 400 !important;
	font-style: normal !important;
}

.codeText {
	background-color: gray;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 25px;
}

#copied {
	transition: opacity 100ms ease-in-out;
}
