@import url('https://use.typekit.net/vyi0eqv.css');

body {
	margin: 0;
}

a {
	font-family: jaf-domus, sans-serif !important;
	font-weight: 400 !important;
	font-style: normal !important;
}

.codeText {
	background-color: rgb(97, 97, 97);
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
}

#copied {
	transition: opacity 100ms ease-in-out;
}
