.profileImage {
	border-radius: 10em;
	vertical-align: -0.125em;
	pointer-events: none;
}

.userpfp {
	border-radius: 50%;
}

.userpfpText {
	height: 1em;
	border-radius: 50%;
}

.brandImage {
	border-radius: 100%;
	margin-left: 5px;
}

.navitem {
	display: inline;
	color: white;
	// background-color: #000;
	// border-radius: 25%;
	font-size: xx-large;
	padding: 15px;
	text-decoration: none;
	width: 100px;
	height: 50px;
	margin: 10px;
}

.loginLink {
	float: right;
}
