.profileImage {
	border-radius: 10em;
	vertical-align: -0.125em;
	pointer-events: none;
}

.navbarItem {
	p {
		display: inline;
		margin-left: 5px;
	}
}

.userpfp {
	float: right;
	right: auto;
	border-radius: 50px;
}
