.projects {
  position: relative;
  height: 300px;
  width: 600px;
  left: calc(50% - 300px);
  display: flex;
  li {
    display: block;
    background-color: $dark-blurple;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.55);
    transition: all 0.5s ease;
    .text-overlay {
      margin: 15px;
    }
    a {
      color: white;
    }
    small {
      color: rgb(224, 224, 224);
    }
  }
}

.card {
  display: flex;
  height: 280px;
  width: 200px;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  &:not(:first-child) {
    margin-left: -50px;
  }
  &:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  &:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
}

.card-title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}
